In [82]:
import numpy as np
import pandas as pd
import os
from pandas import DataFrame
import csv

In [83]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [84]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Reshape
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils

In [85]:
data_reformat = pd.read_csv('WISDM_ar_latest/WISDM_ar_v1.1/reformat_data.csv')
data_reformat

,unique_id,user_id,x0,x1,x2,x3,x4,x5,x6,x7,...,ypeak,zpeak,xabsoldev,yabsoldev,zabsoldev,xstandardev,ystandarddev,zstandarddev,resultant,class
0,1,33,0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,...,293.94,1550,3.29,7.21,4.00,4.05,8.17,4.05,11.96,Jogging
1,2,33,0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,...,269.44,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,Jogging
2,3,33,0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,...,248.65,1780,4.18,6.89,4.07,5.55,8.19,5.55,11.99,Jogging
3,4,33,0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,...,709.09,1380,2.26,4.13,2.49,2.87,4.95,2.87,10.69,Walking
4,5,33,0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,...,3300,1775,2.29,3.94,2.41,3.08,4.64,3.08,10.80,Walking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413,382,19,0.18,0.17,0.00,0.00,0.28,0.00,0.00,0.00,...,?,208.33,8.91,0.15,0.16,8.91,0.17,8.91,9.28,Sitting
5414,383,19,0.11,0.15,0.00,0.00,0.34,0.00,0.00,0.00,...,?,361.11,8.95,0.11,0.14,8.95,0.14,8.95,9.30,Sitting
5415,384,19,0.18,0.07,0.00,0.00,0.22,0.00,0.00,0.00,...,?,287.5,8.96,0.19,0.19,8.97,0.23,8.97,9.28,Sitting
5416,385,19,0.17,0.25,0.00,0.00,0.23,0.00,0.00,0.00,...,?,1233.33,8.95,0.17,0.33,8.96,0.30,8.96,9.28,Sitting
5417,386,19,0.05,0.08,0.00,0.00,0.09,0.00,0.00,0.00,...,?,266.67,2.36,0.25,0.44,8.90,0.96,8.90,2.46,Sitting

In [86]:
from sklearn import preprocessing
# Define column name of the label vector
LABEL = 'ActivityEncoded'
# Transform the labels from String to Integer via LabelEncoder
le = preprocessing.LabelEncoder()
# Add a new column to the existing DataFrame with the encoded values
data_reformat[LABEL] = le.fit_transform(data_reformat['class'].values.ravel())
data_reformat

,unique_id,user_id,x0,x1,x2,x3,x4,x5,x6,x7,...,zpeak,xabsoldev,yabsoldev,zabsoldev,xstandardev,ystandarddev,zstandarddev,resultant,class,ActivityEncoded
0,1,33,0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,...,1550,3.29,7.21,4.00,4.05,8.17,4.05,11.96,Jogging,1
1,2,33,0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,...,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,Jogging,1
2,3,33,0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,...,1780,4.18,6.89,4.07,5.55,8.19,5.55,11.99,Jogging,1
3,4,33,0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,...,1380,2.26,4.13,2.49,2.87,4.95,2.87,10.69,Walking,5
4,5,33,0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,...,1775,2.29,3.94,2.41,3.08,4.64,3.08,10.80,Walking,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413,382,19,0.18,0.17,0.00,0.00,0.28,0.00,0.00,0.00,...,208.33,8.91,0.15,0.16,8.91,0.17,8.91,9.28,Sitting,2
5414,383,19,0.11,0.15,0.00,0.00,0.34,0.00,0.00,0.00,...,361.11,8.95,0.11,0.14,8.95,0.14,8.95,9.30,Sitting,2
5415,384,19,0.18,0.07,0.00,0.00,0.22,0.00,0.00,0.00,...,287.5,8.96,0.19,0.19,8.97,0.23,8.97,9.28,Sitting,2
5416,385,19,0.17,0.25,0.00,0.00,0.23,0.00,0.00,0.00,...,1233.33,8.95,0.17,0.33,8.96,0.30,8.96,9.28,Sitting,2
5417,386,19,0.05,0.08,0.00,0.00,0.09,0.00,0.00,0.00,...,266.67,2.36,0.25,0.44,8.90,0.96,8.90,2.46,Sitting,2

In [87]:
data_reformat.dtypes

unique_id            int64
user_id              int64
x0                 float64
x1                 float64
x2                 float64
x3                 float64
x4                 float64
x5                 float64
x6                 float64
x7                 float64
x8                 float64
x9                 float64
y0                 float64
y1                 float64
y2                 float64
y3                 float64
y4                 float64
y5                 float64
y6                 float64
y7                 float64
y8                 float64
y9                 float64
z0                 float64
z1                 float64
z2                 float64
z3                 float64
z4                 float64
z5                 float64
z6                 float64
z7                 float64
z8                 float64
z9                 float64
xavg                 int64
yavg               float64
zavg               float64
xpeak               object
ypeak               object
zpeak               object
xabsoldev          float64
yabsoldev          float64
zabsoldev          float64
xstandardev        float64
ystandarddev       float64
zstandarddev       float64
resultant          float64
class               object
ActivityEncoded      int32
dtype: object

In [88]:
from numpy.random import seed
seed(1)

In [89]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets

In [90]:
y =data_reformat["ActivityEncoded"]
y.head(10)

0    1
1    1
2    1
3    5
4    5
5    5
6    4
7    4
8    4
9    4
Name: ActivityEncoded, dtype: int32

In [91]:
x = data_reformat[['x0','x1','x2','x3','x4','x5','x6','x7','x8','x9','y1','y2','y3','y4','y5','y6','y7','y8','y9','z1','z2','z3','z4','z5','z6','z7','z8','z9']]
#feature_names = x.columns
x.head()
x.dtypes

x0    float64
x1    float64
x2    float64
x3    float64
x4    float64
x5    float64
x6    float64
x7    float64
x8    float64
x9    float64
y1    float64
y2    float64
y3    float64
y4    float64
y5    float64
y6    float64
y7    float64
y8    float64
y9    float64
z1    float64
z2    float64
z3    float64
z4    float64
z5    float64
z6    float64
z7    float64
z8    float64
z9    float64
dtype: object

In [92]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=40)

In [93]:
y_train

5034    1
154     5
58      5
540     1
3536    0
       ..
3603    1
4722    1
3340    4
3064    4
3398    5
Name: ActivityEncoded, Length: 4063, dtype: int32

In [94]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [95]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [96]:
from tensorflow.keras.utils import to_categorical

In [97]:
# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [98]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=28))
model.add(Dense(units=6, activation='softmax'))

In [99]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 6)                 174
_________________________________________________________________
dense_9 (Dense)              (None, 6)                 42
=================================================================
Total params: 216
Trainable params: 216
Non-trainable params: 0
_________________________________________________________________

In [102]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [103]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=3
)

Train on 4063 samples
Epoch 1/100
Epoch 2/100
Epoch 3/100
Epoch 4/100
Epoch 5/100
Epoch 6/100
Epoch 7/100
Epoch 8/100
Epoch 9/100
Epoch 10/100
Epoch 11/100
Epoch 12/100
Epoch 13/100
Epoch 14/100
Epoch 15/100
Epoch 16/100
Epoch 17/100
Epoch 18/100
Epoch 19/100
Epoch 20/100
Epoch 21/100
Epoch 22/100
Epoch 23/100
Epoch 24/100
Epoch 25/100
Epoch 26/100
Epoch 27/100
Epoch 28/100
Epoch 29/100
Epoch 30/100
Epoch 31/100
Epoch 32/100
Epoch 33/100
Epoch 34/100
Epoch 35/100
Epoch 36/100
Epoch 37/100
Epoch 38/100
Epoch 39/100
Epoch 40/100
Epoch 41/100
Epoch 42/100
Epoch 43/100
Epoch 44/100
Epoch 45/100
Epoch 46/100
Epoch 47/100
Epoch 48/100
Epoch 49/100
Epoch 50/100
Epoch 51/100
Epoch 52/100
Epoch 53/100
Epoch 54/100
Epoch 55/100
Epoch 56/100
Epoch 57/100
Epoch 58/100
Epoch 59/100
Epoch 60/100
Epoch 61/100
Epoch 62/100
Epoch 63/100
Epoch 64/100
Epoch 65/100
Epoch 66/100
Epoch 67/100
Epoch 68/100
Epoch 69/100
Epoch 70/100
Epoch 71/100
Epoch 72/100
Epoch 73/100
Epoch 74/100
Epoch 75/100
Epoch 76/100
Epoch 77/100
Epoch 78/100
Epoch 79/100
Epoch 80/100
Epoch 81/100
Epoch 82/100
Epoch 83/100
Epoch 84/100
Epoch 85/100
Epoch 86/100
Epoch 87/100
Epoch 88/100
Epoch 89/100
Epoch 90/100
Epoch 91/100
Epoch 92/100
Epoch 93/100
Epoch 94/100
Epoch 95/100
Epoch 96/100
Epoch 97/100
Epoch 98/100
Epoch 99/100
Epoch 100/100

In [104]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

1355/1 - 0s - loss: 1.1092 - accuracy: 0.5808
Normal Neural Network - Loss: 1.1042499398833272, Accuracy: 0.5808117985725403